
h1{
    text-align: center;
}

img{
    width: 200px;
    height: 250px;
    border: 1px solid black;
}

ul{
    list-style-type: none
}

#productInfo{
    display: flex;
    flex-direction: row;
}

#productCard{
    margin-top: 2rem;
    border: 5px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 2px solid rgb(49, 46, 46);
    border-collapse: collapse;
    padding: 0.5rem;
  }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin: 1rem 1rem 1rem 1rem;
}